body > header {
    padding: 0;
}
  
textarea {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: none; /* Disable manual resizing */
}

ul.entry-list {
    list-style-type: none;
    padding: 0;
}

ul.entry-list li {
    margin-bottom: 0.5rem;
}

.hidden {
    display: none;
}

pre {
    white-space: pre-wrap;
}

button.delete {
    background-color: #C70039;
    border-color:  #C70039;
}

button.delete:hover {
    background-color:  #900C3F;
    border-color:   #900C3F;
}

@media (prefers-color-scheme: dark) {
    button.delete {
        background-color: red;
        border-color:  red;
    }

    button.delete:hover {
        background-color:  crimson;
        border-color:   crimson;
    }
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.entry {
    padding: 0 1.5rem;
    background: var(--accent-bg);
    border: 2px solid var(--border);
    border-radius: 8px;
    margin: 2rem 0;
    font-family: var(--mono-font);
}

span.disabled {
    opacity: 0.3;
}
