body > header {
    padding: 0;
}
  
textarea {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: none; /* Disable manual resizing */
}

ul.entry-list {
    list-style-type: none;
    padding: 0;
}

ul.entry-list li {
    margin-bottom: 0.5rem;
}

.hidden {
    display: none;
}

pre {
    white-space: pre-wrap;
}

.delete-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

button.delete {
    background-color: var(--bg);
    border-color:  #C70039;
    color: #C70039;
}

button.delete:hover {
    background-color:  #C70039;
    border-color: #C70039;
    color: white;
}

button.edit {
    background-color: var(--bg);
    color: var(--accent);
}

button.edit:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    button.delete {
        border-color:  crimson;
        color: crimson;
    }

    button.delete:hover {
        background-color:  crimson;
        border-color:   crimson;
    }
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.entry {
    padding: 0 1.5rem;
    background: var(--accent-bg);
    border: 2px solid var(--border);
    border-radius: 8px;
    margin: 2rem 0;
    font-family: var(--mono-font);
}

span.disabled {
    opacity: 0.3;
}

.inline {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 1rem;
}

.inline div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inline select {
    flex: 0 1 auto;
}

.inline input {
    flex: 1;
    min-width: 150px;
    width: 100%;
}

.inline-date-time {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  align-items: end;
}

.date-only {
  grid-template-columns: 1fr;
}

.inline-date-time label {
  display: block;
  margin-bottom: 0.25rem;
}

.inline-date-time input {
  margin-bottom: 1rem;
}


hr {
    margin: 3rem auto 4rem auto;
    max-width: 80%;
}

h2 {
    font-size: 2rem;
}

.tag-cloud a {
    font-size: 1.25rem !important;
    margin: 5px;
    display: inline-block;
}

.tag-cloud a::before {
    content: "#";
}

ul.third-count {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul.third-count li {
  display: inline-block;
  margin: 0.5rem 0.25rem;
  padding: 8px;
  border: 1px solid var(--text);
  border-radius: var(--standard-border-radius);
  background: var(--accent-bg);
}

ul.third-count li span {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: var(--accent);
  border-radius: var(--standard-border-radius);
  color: var(--bg);
}

.center {
    text-align: center;
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.stats-grid > .card {
  display: flex;
  flex: 1 1 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats-grid > .card.third {
  flex: 0 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  box-sizing: border-box;
}

.stats-grid > .card.half {
  flex: 0 1 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  box-sizing: border-box;
}

@media (max-width:640px) {
  .stats-grid {
    display: block;
  }
  .stats-grid > .card {
    margin: 1rem auto;
  }
  .stats-grid > .card.third,
  .stats-grid > .card.half {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

.card {
    padding: 1rem;
    background: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
}

.card h3 {
    margin: 0 0 0.25rem 0;
}

h3.stats-tags {
    font-size: 1.6rem;
    margin: 1.5rem 0 -1rem 0;
}

.card p {
    margin: 0;
}

ul.counter {
  list-style-type: none;
  padding: 0;
}

ul.counter li {
  display: inline-block;
  margin: 0.5rem 0.25rem;
  padding: 6px 4px;
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  background: var(--accent-bg);
}

ul.counter li span {
  padding: 2px 6px;
  background: var(--accent);
  border-radius: var(--standard-border-radius);
  color: var(--bg);
}

input {
  width: 100%;
}

.login {
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 2rem;
  margin: 3rem auto;
  max-width: 600px;
}

.login h1 {
  margin: 0 0 1rem 0;
}

.login p {
  margin-top: 0;
}